<nav>
  <div class="logo-nav-container">
    <div class="main-filler">
    </div>

    <div ui-sref="home" class="main-logo">
    </div>
    <div ng-switch on="display.div" class="main-account">
      <!-- search div -->
      <div ng-switch-when="1" >
        <div ng-click="display.div=2" class="main-account-search">
          <p >
            Search
          </p>
          <i  class="fa fa-search fa-lg" aria-hidden="true"></i>
        </div>
        <!-- account div -->
        <div ng-click="display.div=3"  class="main-account-account">
          <p>
            Account
          </p>
          <i class="fa fa-user fa-lg" aria-hidden="true"></i>
        </div>
      </div>
      <!-- search -->
      <div ng-switch-when="2" class="main-account-search-input">
        <input  />
        <i class="fa fa-search fa-lg" aria-hidden="true"></i>
        <i ng-click="display.div=1" class="fa fa-times search-x" aria-hidden="true"></i>
      </div>
      <!-- log in -->
      <div ng-switch-when="3" class="main-account-login">
        <p>
          <a>Log In</a>
          or
          <a>Sign Up</a>
        </p>
        <i ng-click="display.div=1" class="fa fa-times account-x" aria-hidden="true"></i>
      </div>

    </div>
  </div>

  <div class="nav-collections">
    <div class="nav-collections-filler">

    </div>
    <div class="nav-collections-ul">
      <ul>
        <li ng-click="getList('SHOP')" class="web-li">
          SHOP
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </li>

        <li ng-click="getList('BOXING')"class="web-li">
          BOXING
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </li>

        <li ng-click="getList('MARTIAL ARTS')" class="web-li">
          MARTIAL ARTS
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </li>

        <li ng-click="getList('BASEBALL')" class="web-li">
          BASEBALL
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </li>

        <li ng-click="getList('BASKETBALL')" class="web-li">
          BASKETBALL
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </li>

        <li ng-click="getList('FOOTBALL')" class="web-li">
          FOOTBALL
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </li>

        <li ng-click="getList('COLLECTIONS')" class="web-li">
          COLLECTIONS
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </li>

        <li ng-click="getList('BLOG')" class="web-li">
          BLOG
        </li>
        <li class="responsive-li">
          <div id="nav-collections-ham-container">
            <div ng-click="toggle = !toggle" ng-class="{'anime' : toggle}"  id="nav-collections-ham-burger">
              <span>&nbsp;</span>
              <span>&nbsp;</span>
              <span>&nbsp;</span>
            </div>
          </div>
        </li>
        <li class="responsive-li">
          <i class="fa fa-search fa-lg" aria-hidden="true"></i>
        </li>
        <li class="responsive-li">
          <i class="fa fa-user fa-lg" aria-hidden="true"></i>
        </li>
        <li class="responsive-li">
          <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
        </li>
      </ul>
    </div>
    <div class="nav-collections-filler">
      <div class="nav-collections-filler-cart">
        <p>
          Cart
        </p>
        <p>
          {{}}
        </p>
        <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>

      </div>
    </div>
  </div>
  <!-- ui-sref="bio({id: plz.id})" -->
  <div class="web-li-dropdown" >
    <p ng-click="shopCollection({l})" ui-sref="shopCollection({id: l.toLowerCase()})" ng-repeat="l in menuList">
      {{l}}
    </p>
  </div>
</nav>
